[submodule "Alexejhero-Subnautica-Mods"]
	path = Alexejhero-Subnautica-Mods
	url = git@github.com:MrPurple6411/Alexejhero-Subnautica-Mods.git
[submodule "BetterScannerRoom"]
	path = BetterScannerRoom
	url = git@github.com:MrPurple6411/BetterScannerRoom.git
[submodule "BetterVehicleStorage"]
	path = BetterVehicleStorage
	url = git@github.com:MrPurple6411/BetterVehicleStorage.git
[submodule "MrPurple6411-Subnautica-Mods"]
	path = MrPurple6411-Subnautica-Mods
	url = git@github.com:MrPurple6411/My-Subnautica-Mods.git
[submodule "PrimeSonicSubnauticaMods"]
	path = PrimeSonicSubnauticaMods
	url = git@github.com:MrPurple6411/PrimeSonicSubnauticaMods.git
[submodule "PVD's Mods"]
	path = PVD's Mods
	url = git@github.com:MrPurple6411/PVDs-Mods-Reworked.git
[submodule "RandyKnappMods"]
	path = RandyKnappMods
	url = git@github.com:MrPurple6411/RandyKnappMods.git
[submodule "LukeVoMods"]
	path = LukeVoMods
	url = git@github.com:MrPurple6411/LukeVoMods.git
